.conteneur {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  max-height: 100vh;

  &>img {
    width: 100%;
    height: 100vh;
    // opacity: 0.25;
  }


  app-form-inscription {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // min-height: 75vh !important;
    // max-height: 75vh !important;
    // min-width: 65%;
    // max-width: 65%;
  }
}


@media screen and (min-width : 769px) {
  .conteneur {
    app-form-inscription {
      min-width: 65%;
      max-width: 65%;
    }
  }

}


@media screen and (min-width : 426px) and (max-width : 768px) {
  .conteneur {
    app-form-inscription {
      min-width: 90%;
      max-width: 90%;
    }
  }

}

@media screen and (max-width : 425px) {
  .conteneur {
    &>img {
      width: auto;
    }
    app-form-inscription {
      min-width: 90%;
      max-width: 90%;
    }
  }

}
