.conteneur {
  overflow: hidden;
  min-height: 100vh;
  max-height: 100vh;

  &>img {
    width: 100%;
    height: 100%;
    // opacity: 0.25;
  }

  &>.myForm {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 45%;
    max-width: 45%;
    min-height: 70vh;
    max-height: 70vh;
    background-color: rgba(255, 255, 255, 0.905);
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.444);

    &>div {
      flex: 1 1 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
      }

      &.formDiv {
        padding: 0px 10px;
        flex: 1 1 60%;
        justify-content: space-between;

        h2 {
          // text-transform: uppercase;
          text-decoration: underline;
        }

        input,
        select {
          outline-style: none;
          // border: 1px solid gainsboro;
          border: none;
          border-bottom: 2px solid black;
          padding: 5px 10px;
          margin-bottom: 10px;

          &.prenom {
            flex: 1 1 80%;
            margin-left: 5px;
          }
        }


        fieldset {
          // padding: 0px 5px;
          margin-bottom: 5px;
          border: 1px solid gray;

          &.birthInfo {
            padding: 0px 5px;
            background-color: gainsboro;

            input.naissance {
              flex: 1 1 80%;
              margin-left: 5px;
            }
          }

          &.etatCivil {

            // border: 1px solid gray;
            legend {
              background-color: gainsboro;
              // color: #fff;
              padding: 3px 6px;
            }

            label,
            input {
              cursor: pointer;
            }
          }
        }
      }
    }

    /* ------ */
    .action {
      padding: 10px 5px 0px;

      // border: 1px solid ;
      button {
        background-color: rgba(0, 0, 0, 0.566);
        color: white;
        font-weight: 700;
        padding: 5px 10px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
        &:disabled{
          cursor: not-allowed !important;
        }
      }
    }
  }
}
