<div class="conteneur">
  <h2>Mot de passe oublié</h2>

  <div class="myForm" [formGroup]="formulairePwdForget">
    <div>
      <label for="pseudo">Pseudo</label>
      <input type="text" id="pseudo" formControlName="pseudo">
    </div>
    <div>
      <label for="email">Adresse mail</label>
      <input type="email" id="email" formControlName="mail">
    </div>
  </div>

  <div class="soumettre">
    <button class="" [disabled]="formulairePwdForget.invalid" (click)="pwdForget()">Soumettre</button>
  </div>

  <div class="createLogin d-flex justify-content-between">
    <span class="d-flex align-items-center " [routerLink]="['/auth/connexion']">
      <span class="material-symbols-outlined">
        arrow_left
        </span> Annuler</span>
    <span (click)="inscription()" >Créer un compte</span>
  </div>
</div>
