.conteneur{
  background-color: gainsboro;
  & > div{
    flex: 1 1 50%;
    overflow: hidden;

    &.fonds{
      img{
        width: 100vw;
        height: 100vh;
      }
    }

    &.formulaire{
      position: relative;
      &>div{
        min-width: 40%;
        min-height: 45vh;
        background-color: whitesmoke;
        border-radius: 20px;
        padding: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}

@media screen and (min-width : 1025px) {
  .conteneur{
  & > div{
    &.formulaire{
      &>div{
        min-width: 40%;
      }
    }
  }
}

}

@media screen and (width : 1024px) {
  .conteneur{
  & > div{
    &.formulaire{
      &>div{
        min-width: 65%;
      }
    }
  }
}

}

@media screen and (min-width : 768px) and (max-width : 1023px) {
  .conteneur{
    & > div{
      &.formulaire{
        &>div{
          min-width: 85%;
        }
      }
    }
  }

}

@media screen and (max-width : 425px) {
  .conteneur{
    flex-direction: column;
    & > div{
      &.fonds{
        img{
          width: auto;
          height: 100vh;
        }
      }

      &.formulaire{
        position: initial;
        &>div{
          min-width: 75%;
        }
      }
    }
  }

}
