.conteneurPwdEdit{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate( -50%, -50%);

  width: 35%;
  justify-content: center;
  align-items: center;

  border: 1px solid rgba(128, 128, 128, 0.411);
  box-shadow: 0px 0px 35px rgba(128, 128, 128, 0.534);
  border-radius: 10px;
  padding: 20px 40px;


  .action{
    position: relative;
    bottom: initial;
    padding: initial;
  }


  .myForm {
    display: flex;
    flex-direction: column;

    div {
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;

      label {
        font-weight: 700;
        margin-bottom: 5px;
      }

      input {
        outline-style: none;
        border: 1px solid rgba(220, 220, 220, 0.375);
        padding: 8px;
        border-radius: 5px;
        border: 1px dashed gray;
      }
    }
  }
}
