<div class="conteneurPwdEdit d-flex ">

  <div [formGroup]="formulaireEditPassWord">
    <div class="myForm">
      <div class="password">
        <label for="oldPassword">Ancien mot de passe</label>
        <div class="d-flex btnEye">
          <input type="password" id="oldPassword" formControlName="old_pwd" #oldPwd>
          <span class="material-symbols-outlined eyeSpan" #me1 (click)="showPassWord(oldPwd, me1)">
            visibility
          </span>
        </div>
      </div>
      <div class="password">
        <label for="newPassword">Nouveau mot de passe</label>
        <div class="d-flex btnEye">
          <input type="password" id="newPassword" formControlName="new_pwd" #newPwd>
          <span class="material-symbols-outlined eyeSpan" #me2 (click)="showPassWord(newPwd, me2)">
            visibility
          </span>
          <span class="material-symbols-outlined checkSpan" *ngIf="isValidpwd('new_pwd', true)">
            check_small
            </span>
          <span class="material-symbols-outlined checkSpan red" *ngIf="isValidpwd('new_pwd', false)">
            close
            </span>
        </div>
      </div>
      <div class="password">
        <label for="confirmPassword">Confirmer le nouveau mot de passe</label>
        <div class="d-flex btnEye">
          <input type="password" id="confirmPassword" formControlName="new_pwd_confirm" #confirmPwd>
          <span class="material-symbols-outlined eyeSpan" #me3 (click)="showPassWord(confirmPwd, me3)">
            visibility
          </span>
          <span class="material-symbols-outlined checkSpan" *ngIf="isValidpwd('new_pwd_confirm', true)" >
            done_all
            </span>
          <span class="material-symbols-outlined checkSpan red" *ngIf="isValidpwd('new_pwd_confirm', false)">
            close
            </span>
        </div>
      </div>
    </div>

    <div class="action d-flex justify-content-center align-items-center ">

      <button nz-button [nzLoading]="isLoadingOne"  class="d-flex align-items-center mx-3 " (click)="savePassWord()" [disabled]="formulaireEditPassWord.invalid" ><!--  -->
        <span class="material-symbols-outlined mx-1">
          save
        </span>
        Enregister</button>

      <button class="d-flex align-items-center" [routerLink]="['/pharma']">
        <span class="material-symbols-outlined mx-1">
          home
        </span>
        Accueil</button>
    </div>
  </div>


</div>
<!-- <button [routerLink]="['/pharma']" >Accueil</button> -->






<app-notification [infoNotif]="infoNotif" *ngIf="infoNotifActivate" (isFermer)="infoNotifActivate = false" ></app-notification>
