<div class="conteneur">
  <!-- <img [src]="'assets/images/pill-681121_1280.jpg'" alt=""> -->

  <div id="layout" class="d-flex flex-column">

    <!-- <div id="left">
      <app-menu></app-menu>
    </div> -->
    <div id="tete">
      <!-- HEADER -->
      <app-header></app-header>
      <!-- HEADER -->
    </div>

    <!-- <div class="home$ d-flex flex-column "> -->

      <div id="data" class="d-flex justify-content-arround align-items-center flex-column ">
        <!-- DATA LIST -->
        <!-- <app-dataTable></app-dataTable> -->
        <!-- DATA LIST -->
        <!-- <div id="perso">
          <h4>Informations personnelles</h4>
          <div class="d-flex justify-content-between m-3">
            <div class="d-flex flex-wrap " >
              <div class="d-flex justify-content-between align-items-center">
                <span class="libelle">Nom</span>
                <span class="valeur"></span>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <span class="libelle">Prénom</span>
                <span class="valeur"></span>
              </div>
            </div>
          </div>

        </div>
        <div id="formation">
          <h4>Formations</h4>
          <div class="d-flex justify-content-between m-3">

          </div>

        </div>
        <div id="pro">
          <h4>Informations professionelles</h4>
          <div class="d-flex justify-content-between m-3">

          </div>

        </div> -->
        <!-- <div class="d-flex flex-column align-items-center justify-content-between ">
        </div> -->




        <h3 class="p-5 mb-5">FICHE DE RENSEIGNEMENT POUR L’INSCRIPTION A UN DES TABLEAUX DE L’ORDRE</h3>
        <div class="infos d-flex flex-column">

          <div class="d-flex ">
            <span class="libelle" >Date de dépôt complet du dossier complet :</span>
            <span class="valeur" ></span>
          </div>

          <div class="d-flex ">
            <span class="libelle" >Nom :</span>
            <span class="valeur" ></span>
          </div>

          <div class="d-flex ">
            <span class="libelle" >Prénoms :</span>
            <span class="valeur" ></span>
          </div>

          <div class="d-flex ">
            <span class="libelle" >Date et lieu de naissance :</span>
            <span class="valeur" ></span>
          </div>

          <div class="d-flex ">
            <span class="libelle" >Etat civil :</span>
            <div class="d-flex justify-content-arround align-items-center" >
              <label>
                Célibataire
                <input type="checkbox" disabled>
              </label>
              <label>
                Marié
                <input type="checkbox" disabled>
              </label>
              <label>
                Divorcé
                <input type="checkbox" disabled>
              </label>
              <label>
                Veuf (ve)
                <input type="checkbox" disabled>
              </label>
            </div>
          </div>

          <div class="d-flex ">
            <span class="libelle" >Adresse personnelle :</span>
            <div class="d-flex justify-content-arround align-items-center" >
              <label>
                Tel.
                <input type="checkbox" disabled checked>
              </label>
              <label>
                Mail
                <input type="checkbox" disabled>
              </label>
            </div>
          </div>
        </div>

        <div class="d-flex ">
          <span class="libelle" >Situation géographique actuelle (Quartier) :</span>
          <span class="valeur" ></span>
        </div>

        <div class="d-flex ">
          <span class="libelle" >Date et lieu d’obtention du diplôme (soutenance) :</span>
          <span class="valeur" ></span>
        </div>

        <div class="d-flex ">
          <span class="libelle" >Date de délivrance du diplôme :</span>
          <span class="valeur" ></span>
        </div>

        <div class="d-flex ">
          <span class="libelle" >Section du tableau de l’Ordre souhaitée :</span>
          <div class="d-flex justify-content-arround align-items-center" >
            <label>
              1
              <input type="checkbox" disabled>
            </label>
            <label>
              2
              <input type="checkbox" disabled>
            </label>
            <label>
              3
              <input type="checkbox" disabled>
            </label>
            <label>
              4
              <input type="checkbox" disabled>
            </label>
          </div>
        </div>

        <div class="d-flex ">
          <span class="libelle" >Demande de changement de section :</span>
          <div class="d-flex justify-content-arround align-items-center" >
            <label>
              OUI
              <input type="checkbox" disabled>
            </label>
            <label>
              NON
              <input type="checkbox" disabled>
            </label>
          </div>
        </div>

        <fieldset>
          <legend>Etablissement pharmaceutique ou employeur</legend>
          <div class="d-flex ">
            <span class="libelle" >Raison sociale :</span>
            <span class="valeur" ></span>
          </div>

          <div class="d-flex ">
            <div class="d-flex align-items-center">
              <span class="libelle" >Adresse postale :</span>
              <span class="valeur" ></span>
            </div>
            <div class="d-flex align-items-center">
              <span class="libelle" >Tel :</span>
              <span class="valeur" ></span>
            </div>
            <div class="d-flex align-items-center">
              <span class="libelle" >fax :</span>
              <span class="valeur" ></span>
            </div>
          </div>

          <div class="d-flex ">
            <span class="libelle" >Adresse géographique :</span>
            <span class="valeur" ></span>
          </div>

        </fieldset>


        <fieldset>
          <legend>Personnes à contacter</legend>
          <div class="d-flex flex-column">
            <h4>Entourage immédiat</h4>
            <div class="d-flex">
              <span class="libelle" >Nom et Prénoms :</span>
              <span class="valeur" ></span>
            </div>
            <div class="d-flex flex-wrap">
              <div class="d-flex">
                <span class="libelle" >Adresse :</span>
                <span class="valeur" ></span>
              </div>
              <div class="d-flex">
                <span class="libelle" >Tél :</span>
                <span class="valeur" ></span>
              </div>
            </div>
          </div>

          <div class="d-flex flex-column">
            <h4>Entourage Professionnel</h4>
            <div class="d-flex">
              <span class="libelle" >Nom et Prénoms :</span>
              <span class="valeur" ></span>
            </div>
            <div class="d-flex flex-wrap">
              <div class="d-flex">
                <span class="libelle" >Adresse :</span>
                <span class="valeur" ></span>
              </div>
              <div class="d-flex">
                <span class="libelle" >Tél :</span>
                <span class="valeur" ></span>
              </div>
            </div>
          </div>


        </fieldset>


        <fieldset>
          <legend>Je connais les attributions de l’Ordre des Pharmaciens de Côte d’Ivoire</legend>

          <div class="d-flex ">
            <div class="d-flex align-items-center">
              <label>
                Très bien
                <input type="checkbox" disabled>
              </label>
              <label>
                Bien
                <input type="checkbox" disabled>
              </label>
              <label>
                Assez Bien
                <input type="checkbox" disabled>
              </label>
            </div>
          </div>

        </fieldset>

        <fieldset>
          <legend>Je connais le code de déontologie pharmaceutique</legend>

          <div class="d-flex ">
            <div class="d-flex align-items-center">
              <label>
                Très bien
                <input type="checkbox" disabled>
              </label>
              <label>
                Bien
                <input type="checkbox" disabled>
              </label>
              <label>
                Assez Bien
                <input type="checkbox" disabled>
              </label>
            </div>
          </div>

        </fieldset>

        <i>
          Je déclare les informations ci-dessous données sincères et conformes aux pièces fournies pour la constitution du dossier d’inscription.
        </i>


      <!-- </div> -->
    </div>
    <!-- <div id="right" class="d-flex flex-column justify-content-between">
    </div> -->
  </div>
</div>
