.conteneur {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
  // overflow-y: scroll;
  padding: 50px;
  background-image: url('../../assets/images/pill-681121_1280.jpg');
  background-size: 100% 100%;
  background-repeat: no-repeat;


  &>img {
    width: 100%;
    height: 100%;
    // opacity: .2;
  }

  & #layout {
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;

    // #left{
    //   flex: 0 0 12%;
    //   background-color: rgba(135, 207, 235, 0.5);
    // }
    #tete {
      width: 100%;
      min-height: 70px;
      max-height: 70px;
      border-radius: 45px;
      background-color: rgba(135, 207, 235, 0.5);
    }

    #data {
      margin-top: 50px;
      flex: 1 1 100%;
      min-height: 75vh;
      border-radius: 20px;
      scrollbar-width: none;
      padding: 15px;
      overflow-y: scroll;
      // background-color: rgba(255, 166, 0, 0.411);
      background-color: rgba(255, 255, 255, 0.823);


      &>h3{
        border: 1px solid black;
        border-radius: 15px;
      }


      .infos{
        & > div{
          justify-content: space-between;

          .libelle{
            font-weight: bold;
          }
        }
      }
    }
  }
}
