<div class="conteneur">
  <!-- <img [src]="'assets/images/pill-681121_1280.jpg'" alt=""> -->

  <div id="layout" class="d-flex flex-column" *ngIf="!isLoading">

    <!-- <div id="left">
      <app-menu></app-menu>
    </div> -->
    <div id="tete">
      <!-- HEADER -->
      <app-header [userData]="userData" ></app-header>
      <!-- HEADER -->
    </div>

    <!-- <div class="home$ d-flex flex-column "> -->

    <div id="data">
      <!-- DATA LIST -->
      <router-outlet></router-outlet>
    </div>
    <!-- <div id="right" class="d-flex flex-column justify-content-between">
    </div> -->
  </div>
  <div class="d-flex justify-content-center text-primary" style="position: absolute; top:50%; left:50%; transform:translate(-50%, -50%); width: 3rem; height: 3rem;" *ngIf="isLoading">
    <div class="spinner-grow" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</div>



<app-notification [infoNotif]="infoNotif" *ngIf="infoNotifActivate" (isFermer)="infoNotifActivate = false" ></app-notification>
