<div class="conteneur">
  <h2>Connexion</h2>

  <div class="myForm" [formGroup]="formulaireConnexion" >
    <div>
      <label for="pseudo">Pseudo</label>
      <input type="text" id="pseudo" formControlName="login">
    </div>
    <div class="password">
      <label for="password">Mot de passe</label>
      <div class="d-flex btnEye">
        <input type="password" id="password" formControlName="pwd" #passWord>
        <span class="material-symbols-outlined eyeSpan" #me (click)="showPassWord(passWord, me)">
          visibility
          </span>
      </div>
    </div>
  </div>

  <div class="secondaireAction d-flex justify-content-between ">
    <label for="rememberMe" class="d-flex align-items-center">
      <input type="checkbox" id="rememberMe" [(ngModel)]="rememberMe" [value]="rememberMe">
      <span class="mx-1" >Se souvenir de moi</span>
    </label>
    <span [routerLink]="['/auth/passWord-forget']" >Mot de passe oublié</span>
  </div>

  <div class="login soumettre">
    <button nz-button [nzLoading]="isLoadingOne" (click)="connexion()" type="submit" [disabled]="formulaireConnexion.invalid" >Se connecter</button><!-- [routerLink]="['/pharma']"  -->
  </div>

  <div class="createLogin">
    <span (click)="inscription()" >Créer un compte</span> <!-- [routerLink]="['/inscription', {state : '{ game: 21, finish: false }'}]" -->
  </div>
</div>



<app-notification [infoNotif]="infoNotif" *ngIf="infoNotifActivate" (isFermer)="infoNotifActivate = false" ></app-notification>
