.btnAction{
  // display: block;
  a{
    color: var(--main-color);
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
  }

  button{
    background-color: var(--vert);
  }
}



::ng-deep{
  .ant-modal-content{
    border-radius: 20px !important;
    overflow: hidden !important;
  }
}



.btnAction{
  margin-top: 5px;

  button{
    padding: 10px 0px;
    width: 180px;
    cursor: pointer;
    border-radius: 5px;
    color: white;

    &:first-of-type{
      color: var(--vert);
      border: 1px solid var(--vert);
      // border: none;

    }
    &:last-of-type{
      margin-left: 10px;
    }

    // &:hover{
    //   color: var(--vert);
    // }

    &:disabled{
      cursor: not-allowed;
      // background-color: gainsboro;
    }
  }
}
