.myForm {
  position: relative;
  background-color: rgba(255, 255, 255, 0.905);
  // box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.444);
  width: 100%;
  height: 100vh;
  // border-radius: 0px;
  // padding: 4% 20%;

  // &.inscription {
  //   // width: 100%;
  //   // height: 100%;
  //   // border-radius: 0px;
  //   // padding: 5% 20%;
  //   // overflow-y: auto;

  //   .action {
  //     position: initial;
  //   }

  // }

  // &.modification{

  // }

  // overflow: hidden;
  // flex-direction: row;
  // min-height: 95vh;
  // max-height: 10vh;

  // &>div {
  //   flex: 1 1 50%;
  //   overflow: hidden;

  //   img {
  //     width: 100%;
  //     height: 100%;
  //   }

  //   &.formDiv {
  //     padding: 10px;
  //     // flex: 1 1 60%;
  //     justify-content: space-between;
  //     background-color: transparent;

  //     h2 {
  //       text-transform: uppercase;
  //       // text-decoration: underline;
  //       text-align: center;
  //     }

  //     input,
  //     select {
  //       outline-style: none;
  //       // border: 1px solid gainsboro;
  //       border: none;
  //       border-bottom: 1px solid gray;
  //       padding: 5px 10px;
  //       margin-bottom: 10px;

  //       &.prenom {
  //         flex: 1 1 80%;
  //         margin-left: 5px;
  //       }
  //     }


  //     fieldset {
  //       padding: 0px 5px;
  //       margin-bottom: 2px 5px;

  //       // border: 1px solid gray;
  //       &.titreL legend {
  //         font-size: 15px;
  //         font-weight: 700;

  //         &+div {
  //           input.lieu {
  //             // flex: 1 1 80%;
  //             margin-left: 5px;
  //           }

  //           ol {
  //             width: 100%;

  //             // li {
  //             //   flex: 0 1 45%;
  //             // }
  //           }
  //         }
  //       }


  .infoDoc {
    font-size: 11px;
    font-style: italic;
    color: #a3a3a3;
    background-color: gainsboro;
    border-radius: 5px;
  }


  ul {
    width: 100%;

    li {
      position: relative;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        /* font-size: 25px; */
        transform: translateY(-50%);
        left: -5px;
        width: 5px;
        display: block;
        height: 60%;
        background-color: var(--vert);
        box-shadow: 3px 0px 8px #000000ab;
      }

      label {
        font-weight: 500;
        cursor: pointer;
        text-align: justify;
        text-transform: inherit !important;
        margin: 5px 0;
        background-color: #d3d3d326;

        &:hover{
          background-color: rgba(220, 220, 220, 0.514);
        }
      }
    }


    .fichierImport {
      background-color: rgb(0 255 17 / 5%);
      padding-left: 10px;
      font-style: italic;
      border-radius: 0px 10px 10px 0px;
      max-width: 95%;
      margin: 0 auto;
      width: 95%;

      &>span {
        flex: 0 0 95%;
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
      }

      button {
        border: none;
        color: red;
        // background-color: transparent;
      }
    }
  }

  //       label,
  //       input[type='radio'],
  //       input[type='checkbox'] {
  //         cursor: pointer;
  //       }

  //       // &.etatCivil {

  //       // }
  //     }
  //   }
  // }

  .formDiv {
    height: 100%;
    overflow-y: auto;

    >h2 {
      text-transform: uppercase;
      text-align: center;
    }

    &>div.containerFormParent {
      margin-top: 15px;
      background-color: #fff;
      padding: 10px 25px;

      .containerForm {
        // .stepper {

        // }

        .formulaireInscrip {
          .bloc {
            border: 1px solid gainsboro;
            border-radius: 3px;
            margin-top: 15px;
            padding-bottom: 10px;

            legend {
              background-color: var(--vert);
              color: white;
              font-weight: 500;
              // font-size: 18px;
              padding: 10px 20px;
              border-radius: 5px 5px 0 0;
              text-transform: uppercase;
            }

            >div:first-of-type {
              display: flex;
              padding: 10px 15px;
              flex-wrap: wrap;
              justify-content: space-around;

              >div {
                margin: 0px 5px;
                flex: 1 1 45%;

                label {
                  text-transform: uppercase;
                  font-family: monospace;
                }

              }

              >ol {
                width: 100%;

                li {
                  flex: 1 1 45%;
                  margin: 0px 15px;
                }
              }
            }

            // .infoDoc {
            //   font-size: 11px;
            //   font-style: italic;
            //   color: #a3a3a3;
            //   background-color: gainsboro;
            //   border-radius: 5px;
            // }

            // .fichierImport {
            //   background-color: #dcdcdc7d;
            //   padding-left: 10px;
            //   font-style: italic;
            //   // width: 90%;
            //   border-radius: 10px 0 0 10px;

            //   &>span {
            //     flex: 0 0 100%;
            //     text-overflow: ellipsis;
            //     text-wrap: nowrap;
            //     overflow: hidden;
            //   }

            //   button {
            //     border: none;
            //     color: red;
            //     // background-color: transparent;
            //   }
            // }

          }
        }
      }

      // &.containerForm {
      //   // min-height: 65vh;
      //   overflow-y: auto;
      // }


    }
  }


  /* ------ */
  .action {
    padding: 10px 5px 0px;
    position: initial;

    // border: 1px solid ;
    button {
      background-color: rgba(0, 0, 0, 0.566);
      color: white;
      font-weight: 700;
      padding: 5px 10px;
      border-radius: 5px;
      border: none;

      &:hover {
        background-color: rgba(0, 0, 0, 0.8);
      }

      &:disabled {
        cursor: not-allowed;
      }
    }
  }


  // nz-select {
  //   // min-width: 200px;
  //   width: 100%;
  // }


  /* -------------------- */
  /* -------------------- */
  /* -------------------- */

  .closeBtn {
    position: absolute;
    // width: 35px;
    // height: 35px;
    border: none;
    border-radius: 50%;
    right: 10px;
    top: 10px;
    // background-color: var(--vert_opacity);
    color: var(--vert);
  }
}


::ng-deep {
  app-checkbutton {
    width: 100%;
  }
}



@media screen and (min-width: 769px) {
  .myForm {
    // position: relative;
    // background-color: rgba(255, 255, 255, 0.905);
    // box-shadow: 0px 0px 55px rgba(0, 0, 0, 0.444);
    width: 100%;
    height: 100vh;
    // border-radius: 0px;
    padding: 3% 20%;

    // &.inscription {
    //   // width: 100%;
    //   // height: 100%;
    //   // border-radius: 0px;
    //   // padding: 5% 20%;
    //   // overflow-y: auto;

    //   .action {
    //     position: initial;
    //   }

    // }

    // &.modification{

    // }

    // overflow: hidden;
    // flex-direction: row;
    // min-height: 95vh;
    // max-height: 10vh;

    // &>div {
    //   flex: 1 1 50%;
    //   overflow: hidden;

    //   img {
    //     width: 100%;
    //     height: 100%;
    //   }

    //   &.formDiv {
    //     padding: 10px;
    //     // flex: 1 1 60%;
    //     justify-content: space-between;
    //     background-color: transparent;

    //     h2 {
    //       text-transform: uppercase;
    //       // text-decoration: underline;
    //       text-align: center;
    //     }

    //     input,
    //     select {
    //       outline-style: none;
    //       // border: 1px solid gainsboro;
    //       border: none;
    //       border-bottom: 1px solid gray;
    //       padding: 5px 10px;
    //       margin-bottom: 10px;

    //       &.prenom {
    //         flex: 1 1 80%;
    //         margin-left: 5px;
    //       }
    //     }


    //     fieldset {
    //       padding: 0px 5px;
    //       margin-bottom: 2px 5px;

    //       // border: 1px solid gray;
    //       &.titreL legend {
    //         font-size: 15px;
    //         font-weight: 700;

    //         &+div {
    //           input.lieu {
    //             // flex: 1 1 80%;
    //             margin-left: 5px;
    //           }

    //           ol {
    //             width: 100%;

    //             // li {
    //             //   flex: 0 1 45%;
    //             // }
    //           }
    //         }
    //       }


    //       .infoDoc {
    //         font-size: 11px;
    //         font-style: italic;
    //         color: #a3a3a3;
    //         background-color: gainsboro;
    //         border-radius: 5px;
    //       }


    //       ul {
    //         width: 100%;

    //         label {
    //           font-weight: 500;
    //         }

    //         .fichierImport {
    //           background-color: #dcdcdc7d;
    //           padding-left: 10px;
    //           font-style: italic;
    //           // width: 90%;
    //           border-radius: 10px 0 0 10px;

    //           &>span {
    //             flex: 0 0 100%;
    //             text-overflow: ellipsis;
    //             text-wrap: nowrap;
    //             overflow: hidden;
    //           }

    //           button {
    //             border: none;
    //             color: red;
    //             // background-color: transparent;
    //           }
    //         }
    //       }

    //       label,
    //       input[type='radio'],
    //       input[type='checkbox'] {
    //         cursor: pointer;
    //       }

    //       // &.etatCivil {

    //       // }
    //     }
    //   }
    // }

    .formDiv {
      // height: 100%;
      // overflow-y: auto;

      // >h2 {
      //   text-transform: uppercase;
      //   text-align: center;
      // }

      &>div.containerFormParent {
        // margin-top: 15px;
        // background-color: #fff;
        padding: 10px 25px;

        .containerForm {
          .stepper {}

          .formulaireInscrip {
            .bloc {
              // border: 1px solid gainsboro;
              // border-radius: 3px;
              // margin-top: 15px;
              // padding-bottom: 10px;

              legend {
                // background-color: var(--vert);
                // color: white;
                // font-weight: 500;
                // padding: 10px 20px;
                // border-radius: 5px 5px 0 0;
                // text-transform: uppercase;
                font-size: 18px;
              }

              // >div:first-of-type {
              //   // display: flex;
              //   // padding: 10px 15px;
              //   // flex-wrap: wrap;
              //   // justify-content: space-around;

              //   >div {
              //     margin: 0px 5px;
              //     flex: 1 1 45%;

              //     label {
              //       text-transform: uppercase;
              //       font-family: monospace;
              //     }

              //   }

              //   >ol {
              //     width: 100%;

              //     li {
              //       flex: 1 1 45%;
              //       margin: 0px 15px;
              //     }
              //   }
              // }

              // .infoDoc {
              //   font-size: 11px;
              //   font-style: italic;
              //   color: #a3a3a3;
              //   background-color: gainsboro;
              //   border-radius: 5px;
              // }

              // .fichierImport {
              //   background-color: #dcdcdc7d;
              //   padding-left: 10px;
              //   font-style: italic;
              //   // width: 90%;
              //   border-radius: 10px 0 0 10px;

              //   &>span {
              //     flex: 0 0 100%;
              //     text-overflow: ellipsis;
              //     text-wrap: nowrap;
              //     overflow: hidden;
              //   }

              //   button {
              //     border: none;
              //     color: red;
              //     // background-color: transparent;
              //   }
              // }

            }
          }
        }

        // &.containerForm {
        //   // min-height: 65vh;
        //   overflow-y: auto;
        // }


      }
    }


    /* ------ */
    // .action {
    //   padding: 10px 5px 0px;
    //   position: initial;

    //   // border: 1px solid ;
    //   button {
    //     background-color: rgba(0, 0, 0, 0.566);
    //     color: white;
    //     font-weight: 700;
    //     padding: 5px 10px;
    //     border-radius: 5px;
    //     border: none;

    //     &:hover {
    //       background-color: rgba(0, 0, 0, 0.8);
    //     }

    //     &:disabled {
    //       cursor: not-allowed;
    //     }
    //   }
    // }


    nz-select {
      // min-width: 200px;
      width: 100%;
    }


    /* -------------------- */
    /* -------------------- */
    /* -------------------- */

    // .closeBtn {
    //   position: absolute;
    //   // width: 35px;
    //   // height: 35px;
    //   border: none;
    //   border-radius: 50%;
    //   right: 10px;
    //   top: 10px;
    //   // background-color: var(--vert_opacity);
    //   color: var(--vert);
    // }
  }

  nz-select {
    // min-width: 200px;
    width: 100%;
  }

  ::ng-deep {
    app-checkbutton {
      width: 100%;
    }
  }


}


@media screen and (min-width: 426px) and (max-width: 768px) {
  .myForm {
    padding: 5% 10%;

    .formDiv {

      &>div.containerFormParent {

        .bloc {

          legend {
            font-size: 16px;
          }

          >div:first-of-type {
            flex-direction: column;

            >div {

              label {
                font-size: 12px;
              }

            }

            >ol {
              flex-direction: column;
              // width: 100%;

              // li {
              //   flex: 1 1 45%;
              //   margin: 0px 15px;
              // }
            }
          }

          // .infoDoc {
          //   font-size: 11px;
          //   font-style: italic;
          //   color: #a3a3a3;
          //   background-color: gainsboro;
          //   border-radius: 5px;
          // }

          // .fichierImport {
          //   // background-color: #dcdcdc7d;
          //   // padding-left: 10px;
          //   // font-style: italic;
          //   // width: 90%;
          //   // border-radius: 10px 0 0 10px;

          //   // &>span {
          //   //   flex: 0 0 100%;
          //   //   text-overflow: ellipsis;
          //   //   text-wrap: nowrap;
          //   //   overflow: hidden;
          //   // }

          //   // button {
          //   //   border: none;
          //   //   color: red;
          //   //   // background-color: transparent;
          //   // }
          // }

        }
      }
    }


    /* -------------------- */
    /* -------------------- */
    /* -------------------- */

    .closeBtn {
      // position: absolute;
      width: 35px;
      height: 35px;
    }
  }

  nz-select {
    // min-width: 200px;
    width: 100%;
  }
}


@media screen and (max-width: 425px) {
  .myForm {
    padding: 5% 0%;

    .formDiv {

      &>div.containerFormParent {
        padding: 0%;

        .bloc {

          legend {
            font-size: 11px;
          }

          >div:first-of-type {
            flex-direction: column;
            padding: 0px;

            >div {

              label {
                font-size: 10px;
              }

            }

            >ol {
              flex-direction: column;
            }
          }

          .infoDoc {
            font-size: 12px;
          }

          // .fichierImport {
          //   // background-color: #dcdcdc7d;
          //   // padding-left: 10px;
          //   // font-style: italic;
          //   // width: 90%;
          //   // border-radius: 10px 0 0 10px;

          //   // &>span {
          //   //   flex: 0 0 100%;
          //   //   text-overflow: ellipsis;
          //   //   text-wrap: nowrap;
          //   //   overflow: hidden;
          //   // }

          //   // button {
          //   //   border: none;
          //   //   color: red;
          //   //   // background-color: transparent;
          //   // }
          // }

        }
      }

      .appreciation {
        span {
          margin: inherit;

          label {
            font-size: 11px;
            margin-right: 2px;
          }
        }
      }

      .sectionOdre {
        padding-left: initial;
        padding-right: initial;
      }
    }


    /* -------------------- */
    /* -------------------- */
    /* -------------------- */

    .closeBtn {
      // position: absolute;
      width: 35px;
      height: 35px;
    }
  }


  ::ng-deep {
    .ant-steps-item-content {

      .ant-steps-item-title,
      .ant-steps-item-description {
        display: none;
      }
    }
  }

  nz-select {
    // width: 265px;
    width: 330px;
  }

  @media screen and (min-width:375px) and (max-width:424px) {
    nz-select {
      // width: 235px;
      // width: 280px;
      width: 268px;
    }

  }

  @media screen and (max-width:374px) {
    nz-select {
      // width: 210px;
      width: 215px;
    }

    .sectionOdre {
      padding-left: 0;
      padding-right: 0;
    }
  }


}
