.conteneur {

  input,
  input+label {
    cursor: pointer;
  }

  .radioBtnGrp {
    span {
      & input {
        // display: none;
        visibility: hidden;

        &:checked+label {
          background-color: var(--vert);
          color: white;
        }
      }

      & label {
        min-width: 85px;
        background-color: rgba(220, 220, 220, 0.815);
        border: 1px solid gainsboro;
        color: var(--vert);
        padding: 2px 5px;
        text-align: center;
        border-radius: 5px;
        transition: all .5s;
      }
    }
  }


}
