<div [ngSwitch]="typeButton" class="conteneur">
  <div *ngSwitchCase="'checkbox'" class="checkBtn d-flex flex-wrap">
    <span *ngFor="let item of dataListe">
      <input type="checkbox" (click)="fnCheckRadio( item.valeur )" [id]="item.libelle" [value]="item.valeur" [checked]=" defaultValue.includes( ''+item.valeur)">
      <label [for]="item.libelle">{{item.libelle}}</label>
    </span>
  </div>
  <div *ngSwitchDefault class="radioBtnGrp checkBtn d-flex flex-wrap ">
    <!-- <nz-radio-group [(ngModel)]="radioValue" nzButtonStyle="solid">
      <label nz-radio-button nzValue="A">Hangzhou</label>
      <label nz-radio-button nzValue="B">Shanghai</label>
      <label nz-radio-button nzValue="C">Beijing</label>
      <label nz-radio-button nzValue="D">Chengdu</label>
    </nz-radio-group> -->
    <span *ngFor="let item of dataListe" class="p-1 m-1">
      <input type="radio" [name]="'myRadioBtn_'+ myTimer" [id]="item.libelle" [value]="item.libelle" (click)="fnCheckRadio( item.valeur )" [checked]="item.valeur == defaultValue">
      <label [for]="item.libelle"> {{item.libelle}} </label>
    </span>
  </div>
</div>
